/*LOADING SCREEN*/
.loader {
  border: 16px solid #e6e6e6;
  border-top: 16px solid #0066ff;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.loader-wrapper {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(10px);
}
/*^^*/

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

/*PHONE NAV*/
#hamburger-icon {
	margin: auto 0;
	display: none;
	cursor: pointer;
}

#hamburger-icon div {
	width: 35px;
	height: 3px;
	background-color: black;
	margin: 6px 0;
	transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 70px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}

.hoverButt:hover {
	transform: scale(1.1);
	transition-duration: 0.4s;
}

/*SCREEN RESPONSE*/
@media only screen and (max-width: 600px) {
  img {
    width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
  }
 
  header nav {
	  display: none;
  }
  
  #hamburger-icon {
    display: block;
  }
}
